/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, * {
  margin: 0px;
  font-family: Helvetica, Arial, monospace;
}

.headerimg {
  height: auto;
  width: 100%;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header {
  position: relative;
}

.textoverimg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    weight: 900;
    font-size: 78px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  weight: 200;
  margin-left: 10px;
  text-align: center;
  color: black;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

nav a:hover {
  color: white;
  background-color: crimson;
  padding: 5px;
}

nav {
  margin-top: -4px;
  margin-bottom: 25px;
  text-align: center;
  background-color: wheat;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.restaurantindex {
  margin: 15px;
}

.restaurantindex a {
  text-decoration: none;
}

.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.card {
  margin: 10px;
  border: 1px solid black;
  background-color: wheat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.flexcontainer a {
  width: 30%;
}

.card p {
  margin: 15px;
}

.errors {
  text-align: center;
  font-size: 24px;
  background-color: crimson;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 15px;
}
